main {
    display: flex;
    justify-content: center;
}

table {
    max-width: 100%;
}

tr:nth-child(odd) {
    background-color: #eee;
}

th {
    background-color: #fed;
    color: #000;
}
th,
td {
text-align: left;
padding: 0.1em 1em;
}
tr.spacer td {
   border: none;
}
th.sectiontitle {
    background-color: #842;
    color: #fff;            
}
th.sectiontitle a:link, th.sectiontitle a:visited {
    background-color: #842;
    color: #fff;           
    text-decoration: none; 
}

tr:hover {background-color: coral;}

#pup {
    position:absolute;
    z-index:200; /* aaaalways on top*/
    padding: 3px;
    margin-left: 10px;
    margin-top: 5px;
    width: 250px;
    border: 1px solid black;
    background-color: #777;
    color: white;
    font-size: 0.95em;
  }
