<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {{ page.headincludes }}

    <style>
      body {  background-image: url('static/background.jpg'); }
    </style>
</head>

<!----------------  HEADER ------------------------------->
<h1 id="topofpage"><center>{{ page.title }}</center></h1>

<center>
<p style="margin-bottom:0.5cm;">
  <a href="project_backlog.html">Project Backlog</a>&nbsp;&nbsp;
  <a href="team_backlog.html">Team Backlog</a>&nbsp;&nbsp;
  <a href="people_backlog.html">Individual Backlogs</a>&nbsp;&nbsp;
  <a href="people_effort.html">Individual Graphs</a>&nbsp;&nbsp;
  <a href="dashboard.html">Cost Dashboard</a>&nbsp;&nbsp;
  <a href="tags_projects.html">Tags: Projects</a>&nbsp;&nbsp;
  <a href="tags_details.html">Tags: Details</a>&nbsp;&nbsp;
  <a href="gantt_projects.html">Gantt Chart</a>&nbsp;&nbsp;
</p>
</center>
<hr/>
<p style="margin-bottom:0.8cm;"/>

<!---------------- /HEADER ------------------------------->

<!---------------- BODY    ------------------------------->
<body>

    {{ content }}

    <!---------------- (FOOTER)------------------------------->

    <p style="margin-bottom:1cm;"/>
    <hr>
    <footer>
    <center>
        <font size="-1">
          {%- assign vp = site.data.basevars | find:"key","version" -%}
          {%- assign tp = site.data.basevars | find:"key","timedate" -%}
          jpf version {{ vp.value }}, files generated {{ tp.value }}.
        </font>
    </center>
    </footer>

    <!---------------- /BODY   ------------------------------->

  </body>
</html>

