---
layout: default
title: Backlog by Person
headincludes: |
    <link rel="stylesheet" type="text/css" href="static/nicetable.css">
    <link rel="stylesheet" type="text/css" href="static/tabby-ui.min.css">
    <script src="static/tabby.polyfills.min.js"></script>
---

<!-- Table of contents. Loop through once for speed. -->

{% assign person = "blah" %}
<center>
    <ul data-tabs>
        {% for row in site.data.peoplebacklog %}
            {%- if person != row.personname -%}
                {%- assign person = row.personname -%}
                <li><a 
                    {% if forloop.first %}
                    data-tabby-default
                    {% endif %}
                    href="#person-{{row.personname}}">{{person}}</a></li>
            {% endif %}
        {%- endfor -%}
    </ul>
</center>
<br />

<!-- tables of projects. -->
<center>
    <div>
        <table>
        {%- assign person = "blah" -%}
        {%- for row in site.data.peoplebacklog -%}
            {%- if person != row.personname -%}
            {%- assign person = row.personname -%}
            </table>
            </div>
            <div id="person-{{row.personname}}">
            <table>
                <tr>
                    <th colspan="4" class="sectiontitle" style="background-color: #842">
                        <center>{{row.personname}}</center>
                    </th>
                </tr>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Task Name</th>
                    <th>Max % Time</th>
                </tr>
            {%- endif -%}

        {%- if {{row.utilisation}} == "0" -%}
            <tr class="row1" style="color:lightgrey;">
        {%- else -%}
            <tr class="row1">
        {%- endif -%}
        <td class="col1">{{row.start}}</td>
        <td class="col2">{{row.end}}</td>
        <td class="col3">{{row.taskname}}</td>
        <td class="col4">{{row.utilisation}}</td>
        </tr>
        {%- endfor -%}
        </table>
    </div>
</center>



<script>
    var tabs = new Tabby('[data-tabs]');
</script>