---
layout: default
title: Backlog per Person
headincludes: |
    <script src="static/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/nhpup_1.1.js"></script>
    <link rel="stylesheet" href="static/nicetable.css">
---




{%- for row in site.data.people -%}
    <h2 id="{{row.PersonCode}}"> {{row.PersonName}} : Projected Effort by Month </h2>
    {% include subpage_people_effort_person.liquid PersonCode=row.PersonCode PersonName=row.PersonName %}
    {% include subpage_people_effort_index.liquid %}
{%- endfor -%}
