<hr>
<center>
{% assign pei_person = "blah" %}

{%- for pei_row in site.data.peopleeffortbymonth -%}
    {%- if pei_person != pei_row.personname -%}
        {%- assign pei_person = pei_row.personname -%}
        <a href="#{{pei_row.personcode}}">{{pei_row.personname}}</a> &nbsp &nbsp
    {% endif %}
{%- endfor -%}
</center>
<hr>
